/* Estilo global */
body {
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilo del contenedor del menú */
.menu-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    width: 60vw;
    height: 60vh;
}

/* Estilo de los botones */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 30px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
}

/* Efecto de hover (cuando el mouse está sobre el botón) */
.button:hover {
    transform: scale(1.1);
}

/* Efecto de clic (cuando el botón se presiona) */
.button:active {
    background-color: #D87A2E;
}

/* Estilo de los iconos dentro de los botones */
.button i {
    pointer-events: none;
}

/* Estilo para el video */
video {
    width: 80%;
    height: auto;
}
